*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  height: 100vh;
  font-size: 19px;
}

.wpapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 45px calc(100vh - 45px);
}

.header {
  grid-column-start: 1;
  grid-column-end: 11;
}

.aside {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main {
  grid-column-start: 3;
  grid-column-end: 11;
}

::-webkit-scrollbar {
  background-color: #736355;
}

::-webkit-scrollbar-thumb {
  background-color: #af6524;
}

.main {
  position: relative;
}
.main__tag-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.tag-panel {
  background: rgba(203, 237, 250, 0.596);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.tag-panel__item {
  background-color: rgb(116, 208, 245);
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 7px 12px;
}
.tag-panel__item:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(35, 150, 196);
}

.header {
  background-color: #42362b;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25%;
  padding: 0 30px;
}
.header__search-bar {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.header__input {
  padding: 0px 70px 0px 10px;
  height: 35px;
  width: 500px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFF;
  outline: none;
}
.header__input::-moz-placeholder {
  color: #fff;
}
.header__input:-ms-input-placeholder {
  color: #fff;
}
.header__input::placeholder {
  color: #fff;
}
.header__input:active, .header__input:focus + {
  color: #000;
}
.header__input-button {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
  gap: 10px;
  position: absolute;
  top: 15px;
  right: 35px;
}
.header__input-button img {
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.header__input-button img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__input-button-clock {
  transition: all 0.3s;
  width: 20px;
  height: 20px;
}
.header__input-button-clock:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__question {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background: url(../img/question.svg);
  transition: all 0.3s;
}
.header__question:hover {
  cursor: pointer;
  opacity: 0.6;
}
.header__avatar {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
}
.header__avatar:hover {
  cursor: pointer;
}
.header__avatar img {
  max-width: 100%;
  max-width: 100%;
}

.modal {
  display: none;
  padding: 30px;
  background-color: #fff;
  width: 20vW;
  height: 100%;
  border-radius: 10px;
  border: 1px rgb(175, 175, 175) solid;
}
.modal__close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
}
.header__modal {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.header__input:focus + .header__droplist {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.header__droplist {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -350px;
}

.header-droplist {
  width: 500px;
  height: 350px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  border: rgb(96, 96, 96) 1px solid;
}
.header-droplist__likers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
.header-droplist__likers::after {
  content: "I'm looking for...";
  font-size: 11px;
  color: rgb(102, 102, 102);
  position: absolute;
  left: 0px;
  top: -15px;
}
.header-droplist__tiker {
  font-size: 15px;
  padding: 5px 10px;
  background-color: #e8f5fa;
  border-radius: 5px;
  transition: all 0.3s;
}
.header-droplist__tiker:hover {
  cursor: pointer;
  background-color: #268eb8;
  color: #FFF;
}
.header-droplist__history-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}
.header-droplist__history-list::after {
  content: "recent searches";
  font-size: 11px;
  color: rgb(102, 102, 102);
  position: absolute;
  left: 0px;
  top: -15px;
}
.header-droplist__history-item {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  transition: all 0.3s;
  display: inline;
}
.header-droplist__history-item:hover {
  cursor: pointer;
}
.header-droplist__history-item:hover::after {
  width: 100%;
}
.header-droplist__history-item::after {
  content: "";
  height: 1px;
  width: 0%;
  background-color: rgb(121, 121, 121);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
.header-droplist__history-item::before {
  content: "";
  width: 13px;
  height: 13px;
  background: url(../img/clockB.svg) center/cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.aside {
  padding: 20px 0;
  border-top: 1px #836a54 solid;
  background-color: #544538;
  overflow: hidden;
}
.aside__title {
  color: #fff;
  margin-bottom: 10px;
  font-size: 21px;
  padding-left: 10px;
}
.aside__list {
  padding: 10px 0;
  border-top: 1px #836a54 solid;
  border-bottom: 1px #836a54 solid;
  display: flex;
  flex-direction: column;
}
.aside__list.loop {
  max-height: 100%;
  overflow-y: scroll;
  display: block;
}
.aside__scroll-cnt {
  overflow: scroll;
  height: 100%;
}
.aside__scroll-cnt details {
  display: inline-block;
  width: 100%;
}
.aside__item {
  font-size: 21px;
  color: #fff;
  padding: 3px 0px 3px 10px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}
.aside__item img {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.aside__item:hover {
  background-color: #736355;
  cursor: pointer;
}
.aside summary {
  color: #fff;
  padding: 10px 0px 0px 10px;
}

.main {
  position: relative;
}
.main__dialog-list {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.main__input-aria {
  position: absolute;
  left: 10px;
  bottom: 20px;
  height: 100px;
  width: calc(100% - 20px);
}
.main__input-aria textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding-top: 30px;
}

.message-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px rgb(189, 189, 189) solid;
}
.message-item__text-icon {
  padding: 5px;
  display: flex;
  gap: 7px;
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  background-color: rgb(238, 238, 238);
}
.message-item__text-icon li:hover {
  font-weight: 700;
}
.message-item__info {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.message-item__user-avatar {
  width: 50px;
  height: 50px;
  display: block;
}
.message-item__user-name {
  font-weight: 700;
}
.message-item__content {
  margin-top: -30px;
  padding: 0 0 0 82px;
}

@media (max-width: 991px) {
  .wpapper {
    grid-template-columns: 210px 1fr;
    grid-template-rows: 45px calc(100vh - 45px);
  }
  .aside {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .main {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .header {
    gap: 15%;
  }
  .header__input {
    width: 465px;
  }
  .header-droplist {
    width: 465px;
  }
  .message-item__info {
    padding: 0;
  }
  .message-item__content {
    padding: 0 0 0 62px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 10px;
    justify-content: space-between;
    gap: 15px;
  }
  .header__input {
    width: 100%;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
  }
  .header__search-bar {
    gap: 5px;
  }
  .header__user {
    gap: 5px;
  }
  .header-droplist {
    width: 242px;
  }
  .message-item__content {
    font-size: rem(14);
  }
  .aside {
    display: none;
  }
  .main {
    grid-column-start: 1;
  }
}/*# sourceMappingURL=style.css.map */