.main {
	position: relative;

	// .main__dialog-list

	&__dialog-list {
		background-color: rgb(238, 238, 238);
		display: flex;
		flex-direction: column;
		gap: 40px;
		height: calc(100%);
		overflow-y: scroll;
	}

	// .main__message-item

	&__message-item {}

	&__input-aria {
		position: absolute;
		left: 10px;
		bottom: 20px;
		height: 100px;
		width: calc(100% - 20px);

		textarea {
			width: 100%;
			height: 100px;
			resize: none;

			padding-top: 30px;
		}

	}


}

.message-item {
	padding: 10px;

	// .message-item__info
	display: flex;
	flex-direction: column;
	gap: 5px;

	border-top: 1px rgb(189, 189, 189) solid;

	&__text-icon {
		padding: 5px;
		display: flex;
		gap: 7px;

		position: absolute;
		left: 1px;
		top: 1px;

		width: calc(100% - 2px);

		background-color: rgb(238, 238, 238);

		li {
			&:hover {
				font-weight: 700;
			}
		}
	}


	&__info {
		display: flex;
		gap: 10px;
		padding: 0 20px;
	}

	&__user-avatar {
		width: 50px;
		height: 50px;
		display: block;
	}

	// .message-item__user-name

	&__user-name {
		font-weight: 700;
	}

	// .message-item__push-time

	&__push-time {}

	// .message-item__content

	&__content {
		margin-top: -30px;
		padding: 0 0 0 82px;
	}
}