@media (max-width:991px) {
	.wpapper {
		grid-template-columns: 210px 1fr;
		grid-template-rows: 45px calc(100vh - 45px);
	}

	.aside {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	.main {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.header {
		gap: 15%;

		&__input {
			width: 465px;
		}
	}

	.header-droplist {
		width: 465px;
	}


	.message-item {
		&__info {
			padding: 0;
		}

		&__content {
			padding: 0 62px;
		}
	}
}


@media (max-width: 768px) {
	.header {
		padding: 0 10px;
		justify-content: space-between;
		gap: 15px;

		&__input {
			width: 100%;
		}

		&__avatar {
			width: 40px;
			height: 40px;
		}

		&__search-bar {
			gap: 5px;
		}

		&__user {
			gap: 5px;
		}
	}

	.header-droplist {
		width: 242px;
	}

	.message-item {
		&__content {
			font-size: rem(14);
		}
	}

}