.main {
	position: relative;

	// .main__tag-panel

	&__tag-panel {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.tag-panel {
	background: rgba(203, 237, 250, 0.596);


	display: flex;
	flex-wrap: wrap;
	align-items: center;

	gap: 10px;
	padding: 20px;


	// .tag-panel__item

	&__item {
		background-color: rgb(116, 208, 245);
		display: inline-block;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 5px;
		transition: all .3s;
		padding: 7px 12px;

		&:hover {
			cursor: pointer;
			color: #fff;
			background-color: rgb(35, 150, 196);
		}
	}
}